@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
#spaceToPhoto
{
    text-align: left;
}

.linkPhoto
{
    width: 50px;
    margin: 10px;
}

p, h1, h2, h3, ul
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: larger;
}
h3 
{
    font-weight: lighter;
}
.mainInfo
{
    color: grey;
}